# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for Data Science
* List of commonly used libraries
* Table of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python - general-purpose programming language
2. R - programming language for statistical computing and data visualization
3. SQL - programming language for storing and processing information in a relational database
4. Java - object-oriented programming language

Some of the commonly used libraries used by Data Scientists include:
- pandas
- NumPy
- Matplotlib
- SciPy

| Data Science Tools |
  ------------------
| Jupyter Notebook |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [20]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [21]:
200/60

3.3333333333333335

## Author
Lusinda